# Application Config
APP_NAME="Buyside API"
APP_ENV=local
DEBUG=true
HOST=0.0.0.0
PORT=8000

# Database Config
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/buyside
DATABASE_ECHO=true
